.text-sm {
  font-size: 0.7em;
}

.text-sm code {
  font-size: 0.7em;
}

blockquote.text-sm {
  /* padding-top: 0; */
  padding-bottom: 0;
}

.reveal h1 {
  font-size: 2em;
}

.reveal blockquote p {
  text-align: left;
}

blockquote cite::before {
   content: '— ';
   color: #444;
   font-style: italic;
}

blockquote cite {
   font-style: italic;
   /* font-size: .8em; */
   text-align: right;
   display: block;
   color: #444;
}

.reveal blockquote p:first-child {
    display: block;
}
.reveal blockquote p:last-child {
    display: block;
}

.reveal .no-list {
  list-style-type: none;
}

.reveal .pull-right {
  display: inline;
  text-align: right;
  width: 100%;
}
