.reveal h1 {
  font-size: 2.65em;
}

.annotation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.img-round {
  border-radius: 20px;
}

.reveal ul.no-list li {
  list-style-type: none;
}

.reveal ul.no-list li::marker {
  content: none;
}

.is-fancy1 a {
  color: #fff;
  text-decoration: underline;
}
