.img-width-25 {
    width: 25%;
}
.img-width-20 {
    width: 20%;
}
.img-width-15 {
    width: 15%;
}

.img-max-height-700 img {
    max-height: 700px !important;
}

.reveal section img.logo {
    vertical-align: middle;
}

.reveal .img-round {
    border-radius: 50%;
}

img.logo {
    max-width: 200px;
}

.reveal section img.logo-bullet {
    width: 150px;
    margin-right: 20px;
}

.reveal section img.logo-wide {
    max-height: 200px;
    max-width: 300px;
}

.reveal section img.emblem {
    vertical-align: middle;
}

.img-rounded {
    border-radius: 10px;
}